/prjExemplo5/nbproject/private/
/prjExemplo3/nbproject/private/
/prjExemplo4/nbproject/private/
/prjExemplo1/build/
/prjExemplo1/nbproject/private/
/prjExemploDaoOracle_Parte_2/build/
/prjExemploDaoOracle_Parte_2/dist/
/prjExemploDaoOracle_Parte_2/nbproject/private/